
.hero-container{
    height: auto;
    width: auto;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    z-index: 1000;
}

@media screen and (max-width: 1000px) {

    .hero-container {
        padding-left: 50px;
        padding-right: 75px;
        width: 100%;
    }

  
}