
.sidebar-container {
    height: 100vh;
    margin-top: 80px;
    position: fixed;
    width: 225px;
    top: 0;
    left: 0;
    z-index: 1000;
    
}



.sidebar {
    top: 0;
    bottom: 0;
    margin-top: 4px;
    width: 225px;
    left: -250px;
    height: auto;
    position: absolute;
    background-color: rgb(240, 186, 51);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 1px 1px 5px white, -1px -1px 5px white;
    transition: left 0.8s ease;
}

.sidebar.open {
    left: 0px;
}

.sidebar.close {
    left: -250px;
}


.name-container{
    border-bottom: 2px solid black; 
}


.sidebar h1 {
    text-align: left;
    margin-left: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.5s ease;
     
}

.sidebar h1:hover {
    color: white;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 10px;
    display: block;
    transition: color 0.5s ease;
}

.menu-icon {
    color: white;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}

