

.table-container {
    width: 50%;
    margin-bottom: 20px;
    height: auto;
    overflow-x: auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 1px 1px 5px white, -1px -1px 5px white;
    color: black;
  }

  @media screen and (max-width: 1500px) {

    .table-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

  }
  