

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    color: white;
    background-color: black;
}

.title{
    width: 250px;
    height: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.icon-container {
    display: flex; /* Make icon-container a flex container */
    align-items: flex-end; /* Center-align children horizontally */
    justify-content: space-evenly;
    margin-left: auto;
    width: 300px;
    height: 100%;
    text-align: center;
}

.icon-subcontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    align-items: center;
    
}

.icon-subcontainer a{
    font-size: small;
    font-weight:bolder;
    cursor: pointer;
  }
  
.icon{
    margin-top: 20px;
    height: 25px;
    width: 25px;
}

.divider{
    position: relative; /* Adjust based on your layout needs */
    width: 100%; /* Forces it to take its own line */
    /* Add any additional styling for your divider here */
}


