.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    position: relative;
    z-index: 10;
}

.title {
    width: 250px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 300px;
    margin: 5px;
    margin-left: auto;
    text-align: center;
}

.icon-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-subcontainer a,
.icon-subcontainer .nav-link {
    font-size: small;
    font-weight: bolder;
    cursor: pointer;
}

.icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divider {
    position: relative;
    width: 100%;
}

