
.hero-container{
    height: auto;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    width: auto;
    background-color: black;
    z-index: 20;
}

@media screen and (max-width: 1000px) {

    .hero-container {
        padding-left: 50px;
        padding-right: 75px;
    }

  
}