.container {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(35, 35, 32);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px white, -1px -1px 5px white;
}

@media screen and (max-width: 1500px) {

    .container {
        width: 100%;
    }
}